[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "==1.11.0"
scikit-learn = "*"
matplotlib = "*"
jupyter-book = "==0.12.3"
opencv-python-headless = "==4.5.5.64"
pandas = "==1.3.4"
xgboost = "==1.5.2"
seaborn = "==0.11.2"
coverage = "==6.3.2"
mypy = "==0.942"
versioneer = "==0.22"
isort = "==5.9.3"
pre-commit = "==2.18.1"
nbstripout = "==0.5.0"
pandas-profiling = "==3.1.0"
torchvision = "*"
pytest = "==6.2.4"
sphinx = "==4.2.0"
#cuml = "*"
pyspark = "*"
findspark = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.10"
